
.container-fluid{
    padding-top: 50px;
    height: 100%;
    position: relative;
    overflow: scroll;
}

#base-card-div {
    height: 350px;
}

#card-div {  
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

img{
    height: 150px; 
    max-width: 180px; 
    display: block; 
    margin: auto;
}
